footer {
    // background-color: #00308b;
    background-color: #001336;
    border-radius: 20px 20px 0 0;
    background: linear-gradient(
    45deg,
    #001336 0%,
    rgb(35, 44, 78) 100%
  );
  
  }
  
  .footer-container {
    padding-top: 84px;
    padding-bottom: 84px;
  }
  
  @media screen and (min-width: 768px) {
    .footer-container {
      padding-top: 100px;
      padding-bottom: 100px;
    }
  }
  
  @media screen and (min-width: 1200px) {
    .footer-container {
      padding-top: 130px;
      padding-bottom: 130px;
    }
  }
  
  .logo:hover {
    cursor: pointer;
  }
  
  .footer-logo {
    color: var(--clr-primary-inverted);
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
    text-align: center;
    letter-spacing: 0.05em;
    margin-bottom: 50px;
    transition: color 0.3s ease;
  }

 @media screen and (min-width:768px) {
    .footer-logo {
      font-size: 42px;
    }
 }

  .footer-logo-span {
    color:  var(--clr-brand-yellow);
  }
//   .footer-logo-inverted {
//     color: blue;
//   }
  
  .footer-map {
    border-radius: 15px;
    width: 260px;
    height: 100%;
  }
  
  @media screen and (min-width: 768px) {
    .footer-map {
      width: 350px;
      height: 370px;
    }
  }
  
  @media screen and (min-width: 1200px) {
    .footer-map {
      width: 650px;
      height: 100%;
    }
  }
  .footer-link {
    display: flex;
    align-items: center;
    // gap: 15px;
    color: var(--clr-primary-inverted);
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    margin-bottom: 20px;
    text-align: center;
    transition: color 0.3s ease;
  }
  
  .footer-link:hover {
    cursor: pointer;
    color: var(--clr-brand-yellow);
  }
  
  .footer-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  @media screen and (min-width: 768px) {
    .footer-contact {
      align-items: baseline;
    }
  }
  
  .contacts-list {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  
  @media screen and (min-width: 768px) {
    .contacts-list {
      flex-direction: column;
      align-items: baseline;
      flex-wrap: wrap;
      column-gap: 50px;
      height: 370px;
    }
  }
  
  @media screen and (min-width: 1200px) {
    .contacts-list {
      column-gap: 120px;
      height: 370px;
    }
  }
  
  // .contact-li {
  //     display: flex;
  //     flex-wrap: wrap;
  //     justify-content: center;
  //     align-items: center;
  //     margin-bottom: 20px;
  
  // }
  
  // @media screen and (min-width:768px) {
  //     .contact-li {
  //         flex-direction: column-reverse;
  //         align-items: baseline;
  
  //     }
  // }
  
  .footer-address-title {
    display: flex;
    gap: 40px;
    align-items: center;
    color: var(--clr-brand-yellow);
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-style: normal;
    justify-content: center;
    margin-bottom: 8px;
  }
  
  @media screen and (min-width: 768px) {
    .footer-address-title {
      justify-content: flex-start;
    }
  }
  
  @media screen and (min-width: 768px) {
    .footer-address-title::before {
      display: block;
      content: "";
      width: 60px;
      height: 1.4px;
      background-color: var(--clr-brand-yellow);
    }
  }
  
  .schedule-title {
    display: flex;
    gap: 40px;
    align-items: center;
    color: var(--clr-brand-yellow);
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-style: normal;
    justify-content: center;
    margin-bottom: 8px;
    // margin-top: 44px;
    // margin-bottom: 20px;
  }
  
  @media screen and (min-width: 768px) {
    .schedule-title {
      justify-content: flex-start;
    }
  }
  
  @media screen and (min-width: 768px) {
    .schedule-title::before {
      display: block;
      content: "";
      width: 60px;
      height: 1.4px;
      background-color: var(--clr-brand-yellow)
      ;
      // transform: rotate(90deg);
    }
  }
  
  .schedule {
    display: block;
    color: var(--clr-primary-inverted);
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    text-align: center;
  }

  @media screen and (min-width:768px) {
    .schedule {
      text-align: start;
    }
  }
  
  .footer-contacts-title {
    display: flex;
    gap: 40px;
    align-items: center;
    color: var(--clr-brand-yellow);
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-style: normal;
    justify-content: center;
    margin-bottom: 7px;
  }
  
  @media screen and (min-width: 768px) {
    .footer-contacts-title {
      justify-content: flex-start;
    }
  }
  
  @media screen and (min-width: 768px) {
    .footer-contacts-title::before {
      display: block;
      content: "";
      width: 60px;
      height: 1.4px;
      background-color: var(--clr-brand-yellow);
    }
  }
  .footer-li {
    margin-bottom: 15px;
  }
  
  .no-margin-li {
    margin: 0;
  }
  
  .footer-map-li {
    height: 150px;
    margin-bottom: 50px;
  }
  
  @media screen and (min-width: 768px) {
    .footer-map-li {
      margin-bottom: 0;
      height: 370px;
    }
  }
  
  @media screen and (min-width: 1200px) {
    .footer-map-li {
      height: 370px;;
    }
  }
  
  .footer-icon {
    width: 31px;
    height: 24px;
    stroke: currentColor;
    flex-shrink: 0;
  }
  
  .footer-adr-li{
    display: flex;
    align-items: flex-start;
  }

    @media screen and (min-width: 768px) {
        .footer-adr-li {
            text-align: start;
        }
      }
      
  
  // .footer-addr-li {
  //   padding-left: 35px;
  // }

  .footer-map-icon {
    position: absolute;
    left: 30px;
  
  }

  @media screen and (min-width:330px) {
    .footer-map-icon {
      left: 5px;
    }
  }

  @media screen and (min-width:768px) {
    .footer-map-icon {
      position: static;
    }
  }

  .footer-address-icon-container{
    display: flex;
    align-items: flex-start;
    position: relative;
    padding-left: 35px;
    max-width: 300px;
  }
  
  @media screen and (min-width:768px) {
    .footer-address-icon-container {
      padding-left: 0;
    }
  }