.header {
    position: absolute;
    width: 100%;
    .mobile-header {
        display: contents;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .header-contacts-mobile:before {
        content: "";
        width: 1px;
        height: 60px;
        background-color: var(--clr-brand);
        transform: rotate(90deg);
        margin-left: 32px;
    }
    .tagline {
        gap: 40px;
        margin-bottom: 0;
    }
    .desktop-header {
        display: none;
    }
    .main-logo {
        font-weight: 700;
        font-size: 28px;
        color: var(--clr-primary-inverted);
        padding: 28px 0;
    }

    .logo {
        color: var(--clr-brand);
    }

    .mobile-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        background: none;
        border: none;
    }

    .header-svg {
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .header-contacts-div {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 24px;
    }

    @media screen and (min-width: 768px) {
        .nav-list {
            display: flex;
            flex-direction: row;
            gap: 16px;
            color: var(--clr-primary-inverted);
            font-weight: 600;
            font-size: 12px;
            line-height: 1.3;
        }

        .nav-list-item {
            transition: color 100ms ease-in;
        }

        .nav-list-item:hover,
        .nav-list-item:active {
            color: var(--clr-brand);
        }

        .address {
            display: flex;
            color: var(--clr-primary-inverted);
            font-weight: 600;
            font-size: 12px;
            line-height: 1.3;
            flex-direction: column;
            gap: 0;
        }

        .address-link {
            display: flex;
            font-style: normal;
            justify-content: center;
            align-items: center;
            gap: 12px;
            padding: 2px 0;
            transition: color 100ms ease-in;
        }

        .header-link-svg {
            fill: currentColor;
            width: 12px;
            height: 12px;
        }

        .address-link:hover {
            color: var(--clr-brand);
        }
        .address-link-svg {
            width: 18px;
            height: 18px;
            stroke: var(--clr-primary-inverted);
            margin-right: 4px;
        }
        .header-btn {
            padding: 10px 15px;
            border: 1px solid #fff;
            border-radius: 25px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: var(--clr-primary-inverted);
            font-style: normal;
            font-weight: 600;
            font-size: 12px;
            line-height: 16px;
            letter-spacing: 0.09em;
            text-transform: uppercase;
            transition: background-color 100ms ease-in;
        }
        .header-btn:hover {
            background-color: var(--clr-brand);
        }
    }

    @media screen and (min-width: 1200px) {
        .container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
        .mobile-header {
            display: none;
        }
        .desktop-header {
            display: contents;
        }
        .nav-list {
            gap: 32px;
        }
    }
}
.mobile-backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    width: 70%;
    padding: 80px 15px;
    overflow: auto;
    background: #fff;
    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
}
@media screen and (min-width: 480px) {
    .mobile-backdrop {
        width: 336px;
    }
}
.mobile-backdrop.is-open {
    z-index: 4;
    transform: translateX(0%);
}

.backdrop-btn-svg {
    width: 28px;
    height: 28px;
    fill: black;
}

.backdrop-button {
    background: none;
    border: none;
    position: absolute;
    right: 15%;
    top: 25px;
}

.mobile-nav-list {
    top: 118px;
    left: 15px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.6;
    color: var(--clr-primary);
}

.mobile-nav-item {
    transition: color 100ms ease-in;
}

.mobile-nav-item:hover,
.mobile-nav-item:active {
    color: var(--clr-brand);
}

.address-mobile {
    top: 254px;
    left: 15px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.6;
    color: var(--clr-primary);
}
.mobile-address-link {
    display: flex;
    align-items: center;
    transition: color 100ms ease-in;
}
.mobile-address-link:hover,
.mobile-address-link:active {
    color: var(--clr-brand);
}
.map-svg {
    width: 20px;
    height: 20px;
    stroke: black;
}
